/*Header*/

.header_container {
    position: fixed;
    left: 0;
    top:0 ; 
    width: 100%;
    padding-top: 40px;
    padding-bottom: 5px;
    min-height: 200px;
}

.header_left {
    width: 35%;
    max-width: 500px;
    height: 70px;
    float: left;
    margin-left: 20px;
}

.header_mid {
    width: 60%;
    height: 70px;
    max-width: 800px;
    float: left;
    margin-left: 30px;
    margin-right: 10px;
}

.header_bottom {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 10px;
}

.searchbox {
    width: 89%;
    min-height: 50px;
    height: 100%;
    position: absolute;
    margin-top: 8px;
    padding-left: 70px;
}

.search {
    position: relative;
    width: 100%;
    height: 100%;
}

#input_img {
    position:absolute;
    height: 35px;
    margin-top: 15px;
    margin-left: 25px;
}

.list-container {
    text-align: center;
    margin-right: 40px;
    
}

nav{
    height: 20px;
    width: 100%;
    justify-items: center;
}

* {
    list-style: none;
    box-sizing: border-box;
}

li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

/*Footer*/

.footer_container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
    height: 50px;
}

.footer_left {
    width: 40%;
    min-width: 400px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    text-align: left;
}

.footer_right {
    width: 52%;
    min-width: 300px;
    height: 50px;
    float: left;
    text-align: right;
}

/*Homepage*/
.sidebar_container {
    margin-top: 220px;
    margin-left: 30px;
    height: 650px;
    width: 250px;
    z-index: -1;
    padding-bottom: 60px;
    float: left;
}

.sidebar_top {
    margin-top: 20px;
    height: 90px;
    width: 200px;
    display: inline-block;
}

#cart_img {
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

#cart_amnt {
    float: right;
    font-size: 30px;
    margin-right: 5px;
}

.sidebar_mid {
    margin-top: 40px;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.sidebar_bot {
    margin-top: 40px;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.productobject_container{
    margin-top: 250px;
    margin-left: 30px;
    height: max-content;
    width: 75%;
    text-align: center;
    z-index: -1;
    padding-bottom: 60px;
    display: inline-block;
}

.productobject_item {
    height: 210px;
    width: 160px;
    float: left;
    margin: 10px 10px 10px 10px;
}

.productimage_box {
    width: 140px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}

#productimage{
    width: 120px;
}

.addcart_button {
    margin-top: 7px; 
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
    width: 90px; 
}

/*Product*/

.productdescription_container {
    margin-top: 240px;
    margin-left: 60px;
    height: 900px;
    width: 700px;
    text-align: left;
    z-index: -1;
    padding-bottom: 120px;
    float:left;
}

#product_img {
    margin-top: 200px;
    margin-left: 0px;
    height: 400px;
    float: left;
}

h1 {
    position: relative;
    top: 170px; 
    z-index: -1;
}

.cart_button {
    margin-top: 65px;
    height: 40px;
    width: 140px;
}

/*Cart*/

.cart_container {
    padding-bottom: 100px;
}

.product_container {
    position: relative;
    top: 170px; 
    width: 45%;
    height: 500px;
    float:left;
    text-align: right;
    z-index: -1;
    padding-bottom: 200px;
}

.product_object1 {
    height: 200px;
    width: 500px;
    display: inline-block;
    margin-bottom: 20px;
}

#object1_img {
    float: left;
    height: 190px;
    margin-top: 5px;
    margin-left: 5px;
}

.quantity_object1 {
    margin-left: 5px;
    margin-top: 140px;
    height: 25px;
    width: 70px;
    float: left;
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;          
    justify-content: space-between;
}

.description_object1 {
    margin-left: 30px;
    margin-top: 35px;
    height: 130px;
    width: 140px;
    float: left;
    text-align: left;
}

.product_object2 {
    height: 200px;
    width: 500px;
    display: inline-block;
    border-radius: 20px;
}

#object2_img {
    float: left;
    height: 190px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.quantity_object2 {
    margin-left: 5px;
    margin-top: 140px;
    height: 25px;
    width: 70px;
    float: left;
    display: flex;                 
    flex-direction: row;            
    flex-wrap: nowrap;          
    justify-content: space-between;
}

.description_object2 {
    margin-left: 30px;
    margin-top: 35px;
    height: 130px;
    width: 140px;
    float: left;
    text-align: left;
}

.price_container {
    position: relative;
    top: 170px; 
    width: 40%;
    height: 430px;
    float: left;
    text-align: center;
    z-index: -1;
    padding-bottom: 60px;
}

.checkout_button {
    margin-top: 130px;
    height: 40px;
    width: 220px;
    display: inline-block;
}

/*Shipping*/

.personal_container{
    position: relative;
    top: 170px; 
    left: 100px;
    width: 25%;
    height: 350px;
    float:left;
    z-index: -1;
    padding-bottom: 60px;
    padding-right: 50px;
}

.field_box {
    height: 36px;
    border: none;
    margin-top: 8px;
    padding-left: 20px;
}

.field {
    position: relative;
    width: 100%;
    height: 100%;
}

.address_container{
    position: relative;
    top: 170px; 
    margin-left: 150px;
    width: 25%;
    height: 350px;
    float:left;
    text-align: left;
    z-index: -1;
    padding-bottom: 60px;
    padding-right: 50px;
}

.continue_container{
    position: relative;
    top: 170px; 
    margin-left: 50px;
    width: 25%;
    height: 350px;
    float:left;
    text-align: left;
    z-index: -1;
    padding-bottom: 60px;
}

.continue_button {
    right: 0;
    bottom: 70px;
    position: absolute;
    height: 40px;
    width: 210px;
    display: inline-block;
}

/*Payment*/

.card_container{
    position: relative;
    top: 170px; 
    left: 100px;
    width: 25%;
    height: 350px;
    float:left;
    z-index: -1;
    padding-right: 50px;
    padding-bottom: 60px;
}

/*Confirmation*/

.breakdown_container {
    position: relative;
    top: 250px; 
    margin-left: 100px;
    width: 30%;
    height: 250px;
    display: inline-block;
    z-index: -1;
    padding-bottom: 60px;
}

table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0 20px;
}

.confirm_button {
    margin-top: 50px;
    height: 40px;
    width: 210px;
    display: inline-block;
}

@media (max-width: 1350px) {

    /*Header*/

    .header_container {
        position: fixed;
        width: 100%;
        margin-bottom: 20px;
    }    

    .header_left {
        width: 500px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        height: max-content;
    }

    .header_mid {
        width: 500px;
        height: 50px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        height: max-content;
    }

    .header_bottom {
        width: 100%;
        height: auto;
        float: none;
        margin-top: 10px;
    }

    .searchbox {
        width: 100%;
        min-height: 50px;
        height: 100%;
        border-radius: 60px;
        border: none;
        position: absolute;
        margin-top: 0px;
    }

    #input_img {
        position:absolute;
        height: 30px;
        margin-top: 12px;
        margin-left: 25px;
    }

    .checkbtn{
        margin-top: 0;
        display: block;
        float: right;
    }

    nav ul{
        position: fixed;
        width: 40%;
        height: 600px;
        top: 220px;
        left: -100%;
        transition: all .5s;
        height: max-content;
    }

    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .productdescription_container {
        margin-top: 30px;
        margin-left: 60px;
        height: 900px;
        width: 700px;
        text-align: left;
        z-index: -1;
        padding-bottom: 120px;
        float:left;
    }

    .productimage_container {
        margin-top: 20px;
        margin-left: 30px;
        height: 450px;
        width: 450px;
        text-align: left;
        z-index: -1;
        padding-bottom: 80px;
        float: left;
    }

    #product_img {
        margin-top: 200px;
        margin-left: 0px;
        width: 80%;
        height: auto;
        float: left;
    }

    .price_container {
        position: relative;
        top: 30px; 
        width: 40%;
        height: 450px;
        float: none;
        text-align: center;
        z-index: -1;
        padding-bottom: 100px;
        margin-bottom: 100px;
    }

    .personal_container{
        position: relative;
        top: 170px; 
        left: 100px;
        width: 25%;
        height: 350px;
        float:left;
        text-align: left;
        z-index: -1;
        padding-bottom: 60px;
        padding-right: 50px;
    }

    .address_container{
        position: relative;
        top: 170px; 
        width: 25%;
        height: 350px;
        float: none;
        text-align: left;
        z-index: -1;
        padding-bottom: 60px;
        padding-right: 50px;
    }
}

@media (max-width: 500px) {

    .header_container {
        position: fixed;
        width: 100%;
    }

    .header_left {
        width: 300px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: max-content;
    }

    .header_mid {
        width: 300px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        height: max-content;
    
    }

    .header_bottom {
        width: 100%;
        height: auto;
        float: none;
        margin-top: 10px;
    }

    .searchbox {
        width: 100%;
        min-height: 30px;
        height: 100%;
        border-radius: 60px;
        border: none;
        position: absolute;
        margin-top: 0px;
    }

    .checkbtn{
        margin-top: 5px;
        display: block;
        float: right;
    }

    nav ul{
        position: fixed;
        width: 100%;
        background: #1C2F56;
        top: 200px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        height: 100%;
    }

    nav ul li{
        display: block;
        margin: 20px 0;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #input_img {
        position:absolute;
        height: 22px;
        margin-top: 5px;
        margin-left: 30px;
    }

    #product_img {
        margin-top: 200px;
        margin-left: 0px;
        width: 80%;
        height: auto;
        float: left;
    }


}